@{
  Layout="Shared/_Layout.cshtml";
  var url = Request.Path;
}

<div class="row">
  <div class="col-md-12">
  @if(@url.Contains("/contacts/delete/"))
  {
  <p>We've removed that contact for you. Never speak of them again.</p>
  }
    @if(@Model.Count > 0)
    {
      <ul>
        @foreach(var contact in @Model)
        {
          <li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
        }
      </ul>
    } else {
      <p>No contacts yet. Click the button at left to add one.</p>
    }
  </div>
</div>
<div class="row">
  <form action="/contacts/clear" method="post">
    <button type="submit"  class="btn btn-default">Clear Contact List</button>
  </form>
</div>
